# UKBenefitsCalculator.co.uk
FLASK_SECRET_KEY=change-me-to-a-random-string
CANONICAL_HOST=ukbenefitscalculator.co.uk
CANONICAL_SCHEME=https
FORCE_HTTPS=false
ALLOW_WWW_UNTIL_HTTPS=true
REDIRECT_WWW_TO_APEX=true
ENV=prod
DEBUG_TOKEN=
RUN_APP_URL=https://ukbenefitscalculator-zkimfomvha-ew.a.run.app
PORT=8080
GA_MEASUREMENT_ID=

# Stripe Pro (optional)
ENABLE_PRO=false
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_PRO_ONEOFF=

# AdSense (optional)
ENABLE_ADS=false
ADSENSE_CLIENT=ca-pub-3932111812673824
ADSENSE_SLOT_CONTENT=
ADSENSE_SLOT_CALCULATOR=
